<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
<h3><%= dose.description %> <%= dose.ingredient.name %></h3>
<div font-size= 20px>
<%= link_to "Remove This from Your Recipe", dose_path(dose), method: "delete" %>
  </div>
<% end %>
<h2><%= link_to "Add Ingredients to Your Cocktail!", new_cocktail_dose_path(@cocktail.id) %></h2>
<p><%= link_to "Get Rid of This Cocktail Altogether", cocktail_path, method: "delete" %></p>
<p><%= link_to "Make Another Cocktail", new_cocktail_path %></p>
